<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831856074930-24vd64gj35dlu68229qrfbgfhn4ohc3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831856074930-24vd64gj35dlu68229qrfbgfhn4ohc3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831856074930-apj8bctt2u3g4mnig68s3gkg8c376bak.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCimuV9isjP12ZfCcmPfU57GjqGqXs9Qxs</string>
	<key>GCM_SENDER_ID</key>
	<string>831856074930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.crtc</string>
	<key>PROJECT_ID</key>
	<string>crtc-5b9b4</string>
	<key>STORAGE_BUCKET</key>
	<string>crtc-5b9b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831856074930:ios:c2cb401293d6bec5cda9ab</string>
</dict>
</plist>